<?xml version='1.0' encoding='utf-8'?>
<widget id="id.co.gmf-aeroasia.material-handling" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Material Handling</name>
    <description>
     Material Handling for GMF
    </description>
    <author email="bagas@lamsolusi.com" href="http://lamsolusi.com">
      Lamjaya Dev Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera" spec="https://github.com/apache/cordova-plugin-camera.git">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="https://github.com/apache/cordova-plugin-file.git" />
    <plugin name="cordova-plugin-media" spec="https://github.com/apache/cordova-plugin-media.git" />
    <plugin name="cordova-plugin-network-information" spec="https://github.com/apache/cordova-plugin-network-information.git" />
    <plugin name="phonegap-plugin-barcodescanner" spec="https://github.com/phonegap/phonegap-plugin-barcodescanner.git">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-mobile-ocr" spec="https://github.com/NeutrinosPlatform/cordova-plugin-mobile-ocr.git" />
    <engine name="android" spec="^7.0.0" />
</widget>
